alabaster==0.7.10
Babel==2.4.0
certifi==2017.4.17
chardet==3.0.3
CherryPy==3.8.2
configparser==3.5.0
coverage==3.7.1
docutils==0.13.1
fitbit==0.2.2
future==0.16.0
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
Jinja2==2.9.6
MarkupSafe==1.0
mock==1.3.0
oauth2client==3.0.0
oauthlib==2.0.2
parsedatetime==2.4
pbr==3.0.1
pluggy==0.3.1
py==1.4.33
pyasn1==0.2.3
pyasn1-modules==0.0.8
Pygments==2.2.0
python-dateutil==2.4.2
pytz==2017.2
requests==2.17.3
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.6
sphinx-rtd-theme==0.2.4
tox==2.1.1
uritemplate==3.0.0
urllib3==1.21.1
virtualenv==15.1.0
